# ---------- FastAPI stack ----------
fastapi==0.128.0
uvicorn[standard]==0.34.0
python-multipart==0.0.6

# ---------- Pydantic & Settings ----------
pydantic==2.9.2
pydantic-settings==2.5.0
pydantic-extra-types==2.10.0
email-validator==2.2.0
phonenumbers==8.13.26

# ---------- Database ----------
sqlalchemy==2.0.23
asyncpg==0.29.0
alembic==1.12.1
psycopg2-binary==2.9.9   # НУЖЕН только для Alembic

# ---------- Auth ----------
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.0            # фиксируем, чтобы избежать конфликтов

# ---------- Celery / Redis ----------
celery==5.3.4
kombu==5.3.4
flower==2.0.1
redis==4.6.0

# ---------- Files / Media ----------
Pillow==10.1.0
aiofiles==23.2.1

# ---------- Logging ----------
loguru==0.7.2

# ---------- Utilities ----------
httpx==0.25.2
python-dateutil==2.8.2
arrow==1.3.0
aiohttp==3.13.2

# ---------- Email (опционально) ----------
# aiosmtplib==2.0.1
# jinja2==3.1.2

# ---------- Testing (Optional) ----------
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
